<div class="router-container">

  <div class="router-link" [routerLink]="['stats']" routerLinkActive="router-link-active">
    Stats
  </div>

  <div class="router-link" [routerLink]="['transactions']" routerLinkActive="router-link-active">
    Transactions
  </div>

  <div class="router-link" [routerLink]="['graphs']" routerLinkActive="router-link-active">
    Graphs
  </div>

  <div class="router-link" [routerLink]="['reports']" routerLinkActive="router-link-active">
    Reports
  </div>

</div>