.main-row {
    height: 100vh;
}

.main-col {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

input {
    border-radius: 30px;
    text-align: center;
}
