<div class="main">

  <div class="panel list-panel">
    <div class="transaction-item" *ngFor="let item of transactions" (click)="openForEdit(item.id)">

      <div class="transaction-col transaction-col-date">
        <div>
          {{item.creationTime | date:'YYYY-MM-dd' }}
        </div>
      </div>

      <div class="transaction-col transaction-col-amount">
        <div>
          {{item.amount | formatNumber}}
        </div>
      </div>

      <div class="transaction-col transaction-col-desc">
        <div>
          {{item.description}}
        </div>
      </div>

      <div class="transaction-col transaction-col-cat">
        <div>
          {{item.category}}
        </div>
      </div>

    </div>
  </div>

  <!-- -------------------------------------------- -->

  <div class="panel other">

    <div class="panel sum">
      <div class="panel-header">
        SUM Amount
      </div>

      <div class="panel-content">
        1 234 456
      </div>
    </div>

    <!-- Categories -->
    <div class="panel categories">
      <div class="panel-header">
        Categories
      </div>

      <div class="category-container">
        <div class="category-item" *ngFor="let cat of categories">
          {{cat}}
        </div>
      </div>

    </div>

    <!-- Filters -->
    <div class="panel filters">
      <div class="panel-header">
        Advanced Filtering
      </div>
      <div class="panel-content">

        <div>
          Contains Text
        </div>

        <div>
          Larger Than
        </div>

        <div>
          Smaller Than
        </div>

        <div>
          Before
        </div>

        <div>
          After
        </div>

      </div>
    </div>

    <!-- Item editing & adding -->
    <div class="panel edit">
      <div class="panel-header">
        Add & Edit
      </div>
      <div class="panel-content">

        <div>
          <label for="item-date">Transaction Date</label>
          <input class="form-control" type="date" name="" id="item-date"
          [ngModel]="dirtyTransaction.creationTime | date:'YYYY-MM-dd'"
          (ngModelChange)="dirtyTransaction.creationTime = toDate($event)">
        </div>

        <div>
          <label for="item-amount">Amount</label>
          <input class="form-control" type="number" name="" id="item-amount" [(ngModel)]="dirtyTransaction.amount">
        </div>

        <div>
          <label for="item-description">Description</label>
          <input class="form-control" type="text" name="" id="item-description"
            [(ngModel)]="dirtyTransaction.description">
        </div>

        <div>
          <label for="item-category">Category</label>
          <select class="form-control" name="" id="item-category">
            <option *ngFor="let cat of categories" value="{{cat}}">
              {{cat}}
            </option>
          </select>
        </div>

      </div>
    </div>

  </div>

</div>