@use '/src/const.scss' as *;

.main {
    display: flex;
    height: $content-height;
}

// category

.category-container {
    display: flex;
    flex-wrap: wrap;
}

.category-item {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}
