/* You can add global styles to this file, and also import other style files */

@use '/src/const.scss' as *;

body {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: $background-color;
    color: $font-base-color;
}

// scrollbar

::-webkit-scrollbar {
    width: 12px;
}
::-webkit-scrollbar-track {
    background: $background-color;
    border-radius: 20px;
}
::-webkit-scrollbar-thumb {
    background-color: $font-muted-color;
    border-radius: 20px;
    padding: 3px;
}

// panel

.panel {
    border: 1px solid $font-muted-color;
    margin: -1px;
    width: -webkit-fill-available;

    // dont have separators on bottom & right (avoids horizontal scrollbars)
    border-right: 0;
    border-bottom: 0;
    margin-right: 0;
}

.panel-header {
    width: -webkit-fill-available;
    background-color: $font-muted-color;
    padding-left: 0.5rem;
}
