@use '/src/const.scss' as *;

.main {
    height: 100vh;
}

.sticky-nav {
    position: sticky;
    top: -1px;
    background-color: $background-color;
    border-bottom: 1px solid $font-muted-color;
    border-top: none;
}
